.button {
    cursor: pointer;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    border: none;
    padding: 0;
}

.button:hover {
    opacity: .7;
}