.list__task-text {
    cursor: default;
    flex-grow: 1;
    text-align: left;
    margin: 0;
    padding-left: 3px;
    max-width: 495px;
    overflow-wrap: anywhere;
}

@media screen and (max-width: 630px) {
    .list__task-text {
        max-width: 295px;
    }
}
