.list__task-text {
    cursor: default;
    flex-grow: 1;
    text-align: left;
    margin: 0;
}

/*.list__task-text .list__task_completed {*/
/*    text-decoration: line-through;*/
/*    color: #eee;*/
/*}*/