.button_variant_add {
    background-image: url(../../../../images/add.svg);
    background-size: 22px;
    width: 70px;
}

@media screen and (max-width: 630px) {
    .button_variant_add {
        margin: 10px 0 0;
        height: 40px;
        width: 100%;
    }
}