.button_variant_delete {
    background-image: url(../../../../images/delete.svg);
    background-size: 20px;
    width: 70px;
    margin-left: auto;
    margin-right: 0;
    background-color: transparent;
    display: none;
    height: 30px;
}
