.list__task {
    display: flex;
    height: 30px;
    min-height: 30px;
    align-items: center;
    padding: 2px 6px;
}

.list__task:last-of-type {
    margin: 0;
}

.list__task:hover .button_variant_delete{
    display: block;
}

.list__task:hover .button_variant_edit{
    display: block;
}

.list__task_active {
    border-radius: 10px;
    box-shadow: 0 6px 10px #eee;
    transition: box-shadow .4s ease, margin .3s ease;
    margin: 3px 0;
}