.list__task {
    display: flex;
    height: 30px;
    min-height: 30px;
    align-items: center;
    padding: 2px 6px;
    transition: opacity .2s;
}

.list__task:hover {
    opacity: 0.7;
}

.list__task:last-of-type {
    margin: 0;
}

.list__task:hover .button_variant_delete{
    display: block;
}

.list__task:hover .button_variant_edit{
    display: block;
}