.list__task {
    display: flex;
    min-height: 30px;
    align-items: center;
    transition: opacity .2s;
    margin: 0 0 3px;
    padding: 0 6px;
    max-height: 60px;
}

.list__task:hover {
    opacity: 0.7;
}

.list__task:last-of-type {
    margin-bottom: 0;
}

.list__task:hover .button_variant_delete{
    display: block;
}

.list__task:hover .button_variant_edit{
    display: block;
}

@media screen and (max-width: 630px) {
    .list__task {
        max-height: 90px;
        justify-content: center;
    }
}