.button_variant_cancel {
    background-image: url(../../../../images/cancel.svg);
    background-size: 20px;
    width: 25px;
    background-color: transparent;
    display: none;
    height: 30px;
}